body {
  font-family: sans-serif;
  margin: 0px;
  color: #141414;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.subtitulo {
  font-size: 8rem;
  word-break: break-all;
  line-height: 1;
  text-transform: uppercase;
  max-width: 4ch;
}

.toggle-theme-sun {
  width: 36px;
  height: 36px;
  text-decoration: none;
  background: none;
  border: none;
}

.toggle-theme-moon {
  width: 36px;
  height: 36px;
  text-decoration: none;
  background: none;
  border: none;
  display: none;
}

.toggle-language {
  text-decoration: none;
  background: none;
  border: none;
  font-size: 1.5rem;
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial !important;
  }
}
